body{
    font-family: 'Montserrat', sans-serif;
}

nav, nav a {
    text-transform: uppercase;
    color: #1a6dc0;
    font-size: 16px;
}

nav a.active {
    color: white;
    font-weight: bold;
}

nav a:hover{
    color: white;
}

nav h5{
    font-weight: bold;
    color:white;
}

.main{
    color: white;
}

.main h1 span{
    font-weight: bold;
    color: #4da0f3;
}
.main h2 span{
    font-weight: bold;
    color: white;
    font-weight: 400;
    font-size: 50px;
}

.main p {
    font-size: 20px;
    font-weight: 200;
    margin-top: 40px;
}

.card-body{
    position: relative;
    overflow: hidden;
}

.bg-img{
    position: absolute;
    bottom: -60px;
    right: 0;
    width:30%;
   
}

.bg-img2{
    position: absolute;
}